body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
}

label, input {
    width: 100%;
    margin-bottom: 10px;
}

#displayPhoto {
    max-width: 100%;
    margin-top: 20px;
}
